---

---

<footer class="bg-primary-content flex h-auto w-full justify-center">
    <div class="max-w-screen-lg py-5 text-base-content w-full prose">
        <div class="flex">
            <div>
                <h4></h4>
            </div>
        </div>
    </div>
</footer>
